BasedOnStyle: LLVM

AlignTrailingComments:
  Kind: Never
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
ColumnLimit: 0
IndentWidth: 4
IndentExternBlock: Indent
InsertNewlineAtEOF: false
SpacesInContainerLiterals: true